div(class="pure-menu pure-menu-open")
	a(class="pure-menu-heading", href="#") EAPi
	ul
		if (menu == 'home')
			li(class="menu-item-divided pure-menu-selected")
				a(href="#home") Home
		else
			li(class="menu-item-divided")
				a(href="#home") Home
		if (menu == 'color_led')
			li.pure-menu-selected
				a(href="#color_led") Color LED
		else
			li
				a(href="#color_led") Color LED
		li
			a(href="#") Something Else